/* WooCommerce From Value Product Admin Styles */

/* WooCommerce From Value Product Admin Styles */

:root {
    --wsfvp-text-color: #1b2028;
    --wsfvp-link-color: #fb4506;
    --wsfvp-bg-color: #fff;
    --wsfvp-border-color: #ddd;
}

.wsfvp-title {
    font-weight: 700 !important;
}

.wsfvp-logo {
    margin-bottom: 15px;
}

.wsfvp-logo img {
    max-height: 70px;
    width: auto;
}

.wsfvp-settings-wrap {
    background: var(--wsfvp-bg-color);
    padding: 20px;
    border: 1px solid var(--wsfvp-border-color);
    margin-top: 15px;
    border-radius: 6px;
}

.wsfvp-settings-wrap h2 {
    margin-top: 0;
}

.wsfvp-field-description {
    color: var(--wsfvp-text-color);
    font-size: 13px;
}

.wsfvp_link,
.wsfvp_link:visited {
    color: var(--wsfvp-link-color);
}

.wsfvp_link:hover,
.wsfvp_link:active,
.wsfvp_link:focus {
    color: var(--wsfvp-text-color);
}